.loading-overlay {
    z-index: 0;
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    // opacity: 0;
    transition: none;
    z-index: 9999;
    overflow: hidden;
    background-color: #fff;

    .loading-overlay__loader {
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    &--state-inactive {
        right: initial;
        left: 0;

        animation: loader-fade-out 0.35s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
        @keyframes loader-fade-out {
            0% {
                opacity: 1;
                width: 100%;
            }
            99% {
                width: 100%;
            }
            100% {
                width: 0%;
                opacity: 0;
            }
        }
    }

    &--state-active {
        width: 100%;
        // opacity: 1;
        right: 0;
        left: initial;
        // transition: width 0.5s ease-in;
        animation: loader-fade-in 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
        @keyframes loader-fade-in {
            0% {
                width: 100%;
                opacity: 0;
            }
            100% {
                opacity: 1;
                width: 100%;
            }
        }
    }
}

.gt-clocks__loader {
    display: inline-flex;
    max-width: 100px;
    width: 100%;
    overflow: visible !important;
    position: relative;
    // box-sizing: border-box;
    // transform-origin: 50% 40%;
    // animation: rotation 2s linear forwards infinite;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        width: 2px;
        height: 2px;
        background: red;
        display: block;
        z-index: 10;
    }

    .top-shape {
        opacity: 0;
        &--state-animate {
            animation: top-shape 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;
        }
    }

    .right-shape {
        opacity: 0;
        &--state-animate {
            animation: right-shape 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.1s infinite normal forwards;
        }
    }

    .left-shape {
        opacity: 0;
        &--state-animate {
            animation: left-shape 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s infinite normal forwards;
        }
    }
}

@keyframes top-shape {
    0% {
        transform: skew(90deg, -90deg);
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    50% {
        transform: skew(0, 0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    90%,
    100% {
        transform: skew(0, 0);
        opacity: 0;
    }
}

@keyframes right-shape {
    0% {
        transform: skew(90deg, 90deg);
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    50% {
        transform: skew(0, 0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    90%,
    100% {
        transform: skew(0, 0);
        opacity: 0;
    }
}

@keyframes left-shape {
    0% {
        transform: skew(-90deg, 90deg);
        opacity: 0;
    }
    15% {
        opacity: 0;
    }
    50% {
        transform: skew(0, 0);
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    90%,
    100% {
        transform: skew(0, 0);
        opacity: 0;
    }
}
