.uco-wrapper {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background: alpha(var(--grey-dark), 0.7);

    // this is overwritten by JS.
    display: none;

    z-index: 999999;
}

.uco-modal {
    width: 90%;
    max-width: var(--modal-width);
    padding: 30px 30px 20px;
    background: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;

    @media (--viewport-m) {
        padding: 50px 50px 40px;
    }
    .uco-modal__header {
        font-size: rem-calc(32);
        font-weight: 400;
        margin-bottom: calc(var(--gutter-width) * 1);
        font-family: var(--serif-font-family);
        color: var(--grey-dark);

        @media (--viewport-m) {
            font-size: rem-calc(38);
            margin-bottom: calc(var(--gutter-width) * 3);
        }
    }

    .uco-modal__content {
        font-size: rem-calc(18);
        line-height: 1.4;
        font-family: var(--serif-font-family);
        color: var(--grey-dark);

        margin: 0 auto calc(var(--gutter-width) * 3);

        @media (--viewport-m) {
            font-size: rem-calc(22);
            max-width: 80%;
            margin: 0 auto calc(var(--gutter-width) * 5);
        }
    }

    .uco-modal__actions {
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: calc(var(--gutter-width) * 2);
        button {
            box-sizing: border-box;
            padding: 0 18px;
            height: 35px;
            background: var(--yellow-500);
            display: inline-block;
            font-weight: var(--bold-font-weight);
            border: none;
            color: var(--grey-dark);
            text-decoration: none;
            border-radius: 25px;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 0.15s ease;

            font-size: 16px;
            font-weight: var(--f-w-strong);
            &:hover {
                background: var(--yellow-600);
            }

            @media (--viewport-m) {
                flex-direction: row;
                margin-bottom: calc(var(--gutter-width) * 3);
            }

            + button {
                margin-top: calc(var(--gutter-width) * 2);
                @media (--viewport-m) {
                    margin-top: 0;
                    margin-left: calc(var(--gutter-width) * 2);
                }
            }
        }

        @media (--viewport-m) {
            margin-bottom: 0;
        }
    }

    .uco-modal__footer {
        font-size: rem-calc(10);
        line-height: 1.2;
        font-family: var(--serif-font-family);
        color: var(--grey-dark);

        margin: 0 auto;

        @media (--viewport-m) {
            font-size: rem-calc(14);
            line-height: 1.4;
            max-width: 70%;
        }
    }
}
