/**
 * ----------------------------------------
 * Animation: flip-out-hor-alt
 * ----------------------------------------
 */

.ani--flip-out__hor__alt {
   animation-name: flip-out-hor-alt;
}

@keyframes flip-out-hor-alt {
   0% {
      transform: rotateX(0);
      opacity: 1;
   }
   100% {
      transform: rotateX(-80deg);
      opacity: 0;
   }
}
