/**
 * ----------------------------------------
 * Animation: fade-out-back
 * ----------------------------------------
 */

.ani--fade-out__back {
   animation-name: fade-out-back;
}

@keyframes fade-out-back {
   0% {
      transform: translateZ(0);
      opacity: 1;
   }
   100% {
      transform: translateZ(100px);
      opacity: 0;
   }
}
