/**
 * ----------------------------------------
 * Animation: fade-out-tr
 * ----------------------------------------
 */

.ani--fade-out__tr {
   animation-name: fade-out-tr;
}

@keyframes fade-out-tr {
   0% {
      transform: translateX(0) translateY(0);
      opacity: 1;
   }
   100% {
      transform: translateX(50px) translateY(-50px);
      opacity: 0;
   }
}
