.site-header__logo {
    z-index: 1;
    svg {
        max-width: 260px;
        transform-origin: left center;
        transition: var(--header-transition);

        height: 35px;
        margin-bottom: -5px;

        @media (--viewport-m) {
            height: auto;
        }

        #icon {
            transition: var(--header-transition);
        }

        #text {
            transition: all 0.15s ease;
        }
    }

    .site-header--state-scrolled & {
        svg {
            max-width: 200px;
            transform: scale(1.1);
            #icon {
                fill: var(--white);
            }

            #text {
                opacity: 0;
            }
        }
    }
}
