/**
 * ----------------------------------------
 * Animation: flip-in-ver
 * ----------------------------------------
 */

.ani--flip-in__ver {
   animation-name: flip-in-ver;
}

@keyframes flip-in-ver {
   0% {
      transform: rotateX(80deg);
      opacity: 0;
   }
   100% {
      transform: rotateX(0);
      opacity: 1;
   }
}
