@import 'global/utilities/mixins';
@import 'custom-properties';

.wp-block {
    max-width: 1240px;

    &[data-align='wide'] {
        max-width: 1500px;
    }

    &[data-align='full'] {
        max-width: none;
    }

    &.editor-post-title__block {
        max-width: 1500px;
        margin-bottom: rem-calc(50);

        .editor-post-title__input {
            font-family: var(--serif-font-family);
            font-size: rem-calc(60);
            font-weight: 400;
            color: var(--grey-dark);
            padding: 0 10px;
            line-height: 1.2;
            border: none;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-family: var(--sans-serif-font-family);
    }
}

// @import 'editor-blocks/sophia/section';
@import 'editor-blocks/sophia/button';
@import 'editor-blocks/sophia/quote';
@import 'editor-blocks/sophia/dynamic';
@import 'editor-blocks/sophia/spacer';
// @import 'editor-blocks/core/cover';// Handled by Plugin
@import 'editor-blocks/core/image';
@import 'editor-blocks/core/block';
@import 'editor-blocks/core/heading';
@import 'editor-blocks/core/paragraph';

@import 'global/utilities/utilities-editor';
