/******************************************************************

Stylesheet: Login Stylesheet

This stylesheet is loaded is only on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.

Make sure functions/admin.php is activated in your functions.php file.

This stylesheet is turned off by default.

For more info, check out the codex:
http://codex.wordpress.org/Creating_Admin_Themes

******************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap');

:root {
    --font-family: 'Quicksand', Helvetica, Arial, sans-serif;
    --black: #11110f;
    --white: #ffffff;
    --orange: #ff6500;
    --grey: #c4c4c4;
    --base-fs: 20px;
}
.login {
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

    .login-wrapper {
        display: flex;
        align-items: center;

        max-width: 1400px;
        padding: 0 50px;
        width: 100%;

        &__col {
            flex: 1;

            figure {
                margin: 0;
                padding: 0;

                img {
                    max-width: 100%;
                }
            }

            &:first-of-type {
                flex: 2;
                text-align: right;

                @media only screen and (orientation: portrait) {
                    display: none;
                }
            }

            &:last-of-type {
            }

            .login__logo {
                display: inline-block;
                margin-bottom: 100px;

                @media only screen and (orientation: portrait) {
                    margin-bottom: 50px;
                }
            }
        }
    }
}

.login-form {
    .login-form__field-wrap {
        margin: 0 0 20px;
        position: relative;

        .login-form__label {
            position: absolute;
            display: block;

            font-family: var(--font-family);
            font-size: 12px;
            color: var(--orange);
            line-height: 1;

            top: 0;
            left: 0;
            z-index: 0;

            transform: translateY(0%);
            transition: all 0.25s ease-out;
            cursor: default;
        }

        .login-form__button {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: none;
            display: block;
            height: 18px;
            width: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 640 512'%3E%3Cpath fill='%23c4c4c4' d='M634 471L36 3.5A16 16 0 0013.5 6l-10 12.5A16 16 0 006 41l598 467.5a16 16 0 0022.5-2.5l10-12.5A16 16 0 00634 471zM296.8 146.5l134.8 105.4A111.7 111.7 0 00320 144a112.3 112.3 0 00-23.2 2.5zm46.4 219L208.4 260.2C210.7 320 259.5 368 320 368a113 113 0 0023.2-2.5zM320 112c98.7 0 189 55 238 144a285.5 285.5 0 01-44 60.2l37.7 29.5a333.7 333.7 0 0052.9-75.1 32.4 32.4 0 000-29.2C550.3 135.6 442.9 64 320 64c-36.7 0-71.7 7-104.6 18.8l46.4 36.3c19-4.3 38.3-7.1 58.2-7.1zm0 288c-98.7 0-189-55-238-144a285.5 285.5 0 0144.1-60.2l-37.7-29.5a333.6 333.6 0 00-53 75.1 32.4 32.4 0 000 29.2C89.8 376.4 197.2 448 320 448c36.7 0 71.7-7 104.6-18.8l-46.4-36.3A263 263 0 01320 400z'/%3E%3C/svg%3E");
            border: none;
            box-shadow: none;

            z-index: 2;
            cursor: pointer;

            &:hover {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 640 512'%3E%3Cpath fill='%23ff6500' d='M634 471L36 3.5A16 16 0 0013.5 6l-10 12.5A16 16 0 006 41l598 467.5a16 16 0 0022.5-2.5l10-12.5A16 16 0 00634 471zM296.8 146.5l134.8 105.4A111.7 111.7 0 00320 144a112.3 112.3 0 00-23.2 2.5zm46.4 219L208.4 260.2C210.7 320 259.5 368 320 368a113 113 0 0023.2-2.5zM320 112c98.7 0 189 55 238 144a285.5 285.5 0 01-44 60.2l37.7 29.5a333.7 333.7 0 0052.9-75.1 32.4 32.4 0 000-29.2C550.3 135.6 442.9 64 320 64c-36.7 0-71.7 7-104.6 18.8l46.4 36.3c19-4.3 38.3-7.1 58.2-7.1zm0 288c-98.7 0-189-55-238-144a285.5 285.5 0 0144.1-60.2l-37.7-29.5a333.6 333.6 0 00-53 75.1 32.4 32.4 0 000 29.2C89.8 376.4 197.2 448 320 448c36.7 0 71.7-7 104.6-18.8l-46.4-36.3A263 263 0 01320 400z'/%3E%3C/svg%3E");
            }

            &[aria-label='Hide password'] {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23c4c4c4' d='M288 144a111 111 0 00-31.2 5 55.4 55.4 0 017.2 27 56 56 0 01-56 56 55.4 55.4 0 01-27-7.2A111.7 111.7 0 10288 144zm284.5 97.4C518.3 135.6 411 64 288 64S57.7 135.6 3.5 241.4a32.4 32.4 0 000 29.2C57.7 376.4 165 448 288 448s230.3-71.6 284.5-177.4a32.4 32.4 0 000-29.2zM288 400c-98.7 0-189-55-238-144 49-89 139.3-144 238-144s189 55 238 144C477 345 386.6 400 288 400z'/%3E%3C/svg%3E");

                &:hover {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath fill='%23ff6500' d='M288 144a111 111 0 00-31.2 5 55.4 55.4 0 017.2 27 56 56 0 01-56 56 55.4 55.4 0 01-27-7.2A111.7 111.7 0 10288 144zm284.5 97.4C518.3 135.6 411 64 288 64S57.7 135.6 3.5 241.4a32.4 32.4 0 000 29.2C57.7 376.4 165 448 288 448s230.3-71.6 284.5-177.4a32.4 32.4 0 000-29.2zM288 400c-98.7 0-189-55-238-144 49-89 139.3-144 238-144s189 55 238 144C477 345 386.6 400 288 400z'/%3E%3C/svg%3E");
                }
            }
        }

        .login-form__input {
            font-family: var(--font-family);
            font-size: var(--base-fs);
            color: var(--grey);

            background: none;
            margin: 0;
            padding: 0;

            position: relative;
            height: 50px;
            width: 100%;
            outline: 0;
            z-index: 1;

            border-radius: 0;
            border: none;
            border-bottom: 1px solid var(--grey);

            &[aria-describedby='login_error'] {
                border: 1px solid #dc3232;
                border-left: 3px solid #dc3232;
            }

            &::placeholder {
                opacity: 0;
            }

            &:placeholder-shown {
                + label {
                    font-size: var(--base-fs);
                    transition: all 0.25s ease-out;

                    top: 50%;
                    transform: translateY(-50%);
                }
            }

            &:focus {
                + label {
                    transition: all 0.25s ease-out;
                    font-size: 12px;
                    top: 0;
                    transform: none;
                }
            }
        }
    }
}

.forgetmenot {
    display: block;
    height: 25px; // Same height as input

    input[type='checkbox'] {
        opacity: 0;
        padding: 0;
        margin: 0;
        position: absolute;
        visibility: hidden;
    }

    label {
        position: relative;
        display: inline-block;

        /*25px width of fake checkbox + 10px distance between fake checkbox and text*/
        padding-left: 35px;

        height: 25px;
        line-height: 22px;

        font-family: var(--font-family);
        font-size: var(--base-fs);
        color: var(--grey);

        transition: all 0.25s ease;
        cursor: pointer;

        &:hover {
            color: var(--orange);
        }
    }

    label::before,
    label::after {
        position: absolute;
        content: '';

        /*Needed for the line-height to take effect*/
        display: inline-block;
    }

    /*Outer box of the fake checkbox*/
    label::before {
        height: 25px;
        width: 25px;
        background: var(--white);
        border-radius: 4px;
        left: 0px;
        top: 0;
    }

    /*Checkmark of the fake checkbox*/
    label::after {
        height: 6px;
        width: 16px;
        border-left: 4px solid var(--orange);
        border-bottom: 4px solid var(--orange);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        left: 3px;
        top: 6px;
    }

    /*Hide the checkmark by default*/
    input[type='checkbox'] + label::after {
        content: none;
    }

    /*Unhide on the checked state*/
    input[type='checkbox']:checked + label::after {
        content: '';
    }

    /*Adding focus styles on the outer-box of the fake checkbox*/
    input[type='checkbox']:focus + label::before {
        outline: rgb(59, 153, 252) auto 5px;
    }
}

.submit {
    text-align: right;

    .login-form__submit {
        font-family: var(--font-family);
        font-size: var(--base-fs);
        font-weight: 700;
        color: var(--white);

        border: none;
        box-shadow: none;
        background: var(--orange);
        border-radius: 4px;

        padding: 10px 25px;

        cursor: pointer;

        transition: all 0.25s ease;

        &:hover {
            background: #cc5100;
        }
    }
}

.form-split {
    display: flex;
    margin: 30px 0 30px;
    align-items: center;

    > div {
        &:first-of-type {
            flex: 2;
        }

        &:last-of-type {
            flex: 1;
        }
    }
}

.login-form__link {
    font-family: var(--font-family);
    font-size: var(--base-fs);
    color: #5a5a5a;
    text-decoration: none;

    transition: all.25s ease;

    &:hover {
        color: var(--orange);
    }
}
