/**
 * ----------------------------------------
 * Animation: fade-in-fwd
 * ----------------------------------------
 */

.ani--fade-in__fwd {
   animation-name: fade-in-fwd;
}

@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-100px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
