/**
 * ----------------------------------------
 * Animation: fade-in-left
 * ----------------------------------------
 */

.ani--fade-in__left {
   animation-name: fade-in-left;
}

@keyframes fade-in-left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
