.parallax-img {
// height: 25vw;
  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    float: left;

    /* essentially the aspect ratio. 100% means the
       div will remain 100% as tall as it is wide, or
       square in other words.  */
    padding-bottom: 37.5%;
}
/* this is a clearfix. you can use whatever
   clearfix you usually use, add
   overflow:hidden to the parent element,
   or simply float the parent container. */
&:after {
    content: "";
    display: table;
    clear: both;
}

img {
    position: absolute;
}
}

// Default Ani Class.
// Needed to trigger any animation unless using '.ani--sh' or '.ani--shorthand' classes.
.ani {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.animate-scroll,
.animate-video {
    opacity: 0;
}

// Accessibility.
// Immediately jump any animation to the end point for print and if the user has set their device to "prefers reduced motion".
@media (print), (prefers-reduced-motion: reduce) {
    .ani,
    .ani--sh,
    .ani--shorthand {
        animation-duration: 0.001s !important;
        transition-duration: 0.001s !important;
    }
}

// Animation Properties.
@import 'properties/utilities'; // If you're using css vars, comment out this file.
@import 'properties/custom-vars'; // If you're using utility classes, comment out this file.

// Entrance Animations.
// Comment out any you're not using to reduce file size.
// Fade In.
@import 'animations/entrances/fade-in/fade-in';
@import 'animations/entrances/fade-in/fade-in-fwd';
@import 'animations/entrances/fade-in/fade-in-back';
@import 'animations/entrances/fade-in/fade-in-top';
@import 'animations/entrances/fade-in/fade-in-bottom';
@import 'animations/entrances/fade-in/fade-in-left';
@import 'animations/entrances/fade-in/fade-in-right';
@import 'animations/entrances/fade-in/fade-in-tl';
@import 'animations/entrances/fade-in/fade-in-tr';
@import 'animations/entrances/fade-in/fade-in-bl';
@import 'animations/entrances/fade-in/fade-in-br';
// Flip In.
@import 'animations/entrances/flip-in/flip-in-hor';
@import 'animations/entrances/flip-in/flip-in-hor-alt';
@import 'animations/entrances/flip-in/flip-in-ver';
@import 'animations/entrances/flip-in/flip-in-ver-alt';
// Slit In.
@import 'animations/entrances/slit-in/slit-in-hor';
@import 'animations/entrances/slit-in/slit-in-ver';
// Swing In.
@import 'animations/entrances/swing-in/swing-in-fwd-top';
@import 'animations/entrances/swing-in/swing-in-fwd-right';
@import 'animations/entrances/swing-in/swing-in-fwd-bottom';
@import 'animations/entrances/swing-in/swing-in-fwd-left';

// Exit Animations.
// Comment out any you're not using to reduce file size.
// Fade Out.
@import 'animations/exits/fade-out/fade-out';
@import 'animations/exits/fade-out/fade-out-fwd';
@import 'animations/exits/fade-out/fade-out-back';
@import 'animations/exits/fade-out/fade-out-top';
@import 'animations/exits/fade-out/fade-out-bottom';
@import 'animations/exits/fade-out/fade-out-left';
@import 'animations/exits/fade-out/fade-out-right';
@import 'animations/exits/fade-out/fade-out-tl';
@import 'animations/exits/fade-out/fade-out-tr';
@import 'animations/exits/fade-out/fade-out-bl';
@import 'animations/exits/fade-out/fade-out-br';
// Flip Out.
@import 'animations/exits/flip-out/flip-out-hor';
@import 'animations/exits/flip-out/flip-out-hor-alt';
@import 'animations/exits/flip-out/flip-out-ver';
@import 'animations/exits/flip-out/flip-out-ver-alt';
// Slit Out.
@import 'animations/exits/slit-out/slit-out-hor';
@import 'animations/exits/slit-out/slit-out-ver';
// Swing Out.
@import 'animations/exits/swing-out/swing-out-fwd-top';
@import 'animations/exits/swing-out/swing-out-fwd-right';
@import 'animations/exits/swing-out/swing-out-fwd-bottom';
@import 'animations/exits/swing-out/swing-out-fwd-left';

// Background Animations.
// Comment out any you're not using to reduce file size.
// Kenburns.
@import 'animations/background/kenburns/kenburns-top';
@import 'animations/background/kenburns/kenburns-right';
