body {
   align-items: center;
   justify-content: space-around;
   display: flex;
}

.box {
   background: blue;
   display: inline-flex;
   width: 200px;
   height: 200px;
   
   &:nth-child(2) {
      background: red;
   }
   
   &:nth-child(3) {
      background: blue;
   }
}