/**
 * ----------------------------------------
 * Animation: swing-out-fwd-top
 * ----------------------------------------
 */

.ani--swing-out__fwd__top {
   animation-name: swing-out-fwd-top;
}

@keyframes swing-out-fwd-top {
   0% {
      transform: rotateX(0deg);
      transform-origin: top;
      opacity: 1;
   }
   100% {
      transform: rotateX(70deg);
      transform-origin: top;
      opacity: 0;
   }
}
