.ani--speed,
.ani--spd,
.ani--duration {
   animation-duration: initial; // Default class will use default css spec value. value = 0s

   @for $i from 1 through 15 {
      &__#{$i}00 {
         animation-duration: 100ms * $i;
      }
   }
}

.ani--timing,
.ani--tf {
   animation-timing-function: initial; // Default class will use default css spec value. value = ease

   &__ease {
      animation-timing-function: ease;
   }

   &__easein {
      animation-timing-function: ease-in;
   }

   &__easeout {
      animation-timing-function: ease-out;
   }

   &__easeinout {
      animation-timing-function: ease-in-out;
   }

   &__linear {
      animation-timing-function: linear;
   }
}

.ani--delay,
.ani--dly {
   animation-delay: initial; // Default class will use default css spec value. value = 0s

   @for $i from 1 through 15 {
      &__#{$i}00 {
         animation-delay: 100ms * $i;
      }
   }
}

.ani--loop,
.ani--iteration-count,
.ani--ic {
   animation-iteration-count: initial; // Default class will use default css spec value. value = 1

   &__infinite {
      animation-iteration-count: infinite;
   }

   &__2 {
      animation-iteration-count: 2;
   }
}

.ani--dir,
.ani--direction {
   animation-direction: initial; // Default class will use default css spec value. value = normal

   &__normal {
      animation-direction: normal;
   }

   &__reverse {
      animation-direction: reverse;
   }

   &__alternate {
      animation-direction: alternate;
   }

   &__alternate-reverse {
      animation-direction: alternate-reverse;
   }
}

.ani--fill,
.ani--fill-mode,
.ani--fm {
   animation-fill-mode: initial; // Default class will use default css spec value. value = none

   &__none {
      animation-fill-mode: none;
   }

   &__forwards {
      animation-fill-mode: forwards;
   }

   &__backwards {
      animation-fill-mode: backwards;
   }

   &__both {
      animation-fill-mode: both;
   }
}
